/**region Override defaults */
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-bottom: auto;
}
/*endregion*/

/*region Table stuff*/
.table-container {
    flex-grow: 1; /* Allows this element to expand and fill vertical space */
    min-height: 0; /* A crucial fix for scrolling children inside a flex container */
}

.board {
    touch-action: manipulation;
    border-collapse: collapse;
    border-style: hidden;

    width: 100%;
    height: 100%;

    table-layout: fixed;

    display: flex;
    flex-direction: column;
}

.board tbody {
    display: block;
    overflow-y: auto;
}

.board thead {
    overflow-y: auto;
    min-height: max-content;
}

.board thead,
.board tbody {
    scrollbar-gutter: stable;
}

.board th,
.board td {
    vertical-align: top;
    text-align: right;
    padding: 0.5rem;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
}

.board thead td {
    text-align: center;
}

.board thead tr,
.board tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.board th:last-child,
.board td:last-child {
    border-right: none;
}

.board tbody tr:last-child td {
    border-bottom: none;
}
/*endregion*/

/*region Actually styles for points*/
.player {
    text-align: center;
    min-width: 90%;
    text-overflow: ellipsis;
}

.points {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 18vw;
    height: 100%;
    justify-content: center;
    margin: 1rem 0;
}

.unit {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    height: 1.5rem;
    width: 1.5rem;
}

