/**region Override defaults */
html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.footer {
    margin-bottom: auto;
}

.board {
    max-height: 10rem;
}

#newScore.section {
    justify-content: space-between;
    max-height: max(45vh, 20rem);
}
/*endregion*/

/*region Actually styles for points*/
.player {
    text-align: center;
    min-width: 90%;
    text-overflow: ellipsis;
}

.word {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    gap:1rem;
}

.word div {
    font-size: x-large;
}


