.board {
    display: flex;
    align-items: center;
    height: 112px;
    max-width: 80%;
    overflow: hidden;
}

.player {
    padding: 1rem;
    font-size: 2rem;
    touch-action: none;
}

.unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 80%;
    position: relative;
    overflow: visible;
}

.point {
    flex-shrink: 0;
    border-radius: 100%;
    width: 16px;
    height: 16px;
}

.point--active {
    background-color: var(--text-color);
}

.point--first {
    border-right: 9px solid var(--text-color);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.point--last {
    border-left: 9px solid var(--text-color);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.win {
    border-radius: 50%;
    position: absolute;
    flex-shrink: 0;
    height: 32px;
    width: 80px;
    left: -80px;
    outline: 1px solid var(--text-color);
}

.win--up {
    top:-8px;
}

.win--down {
    bottom:-8px;
}