.unit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 80%;
    position: relative;
    overflow: visible;
}

.point {
    flex-shrink: 0;
    border-radius: 100%;
    width: 16px;
    height: 16px;
}

.point--active {
    background-color: var(--text-color);
}

.point--first {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: auto;
    margin-right: -1px;
    width: 24px;
}

.point--last {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: auto;
    margin-left: -1px;
    width: 24px;
}

.point--first.point--last {
    margin-right: 0;
    margin-left: 0;
    width: 25px;
}

.win {
    border-radius: 50%;
    position: absolute;
    flex-shrink: 0;
    height: 32px;
    width: 80px;
    left: -80px;
    outline: 1px solid var(--text-color);
}

.win--up {
    top:-8px;
}

.win--down {
    bottom:-8px;
}

.game-separator {
    font-size: 1.25rem;
    font-weight: bolder;
}